


/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Questrial', sans-serif;
}

body {
	font: 1em/1.5;
	color: #dadada;
	background: #4e1237;
}

header {
	text-align: center;
}

h1 {
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

a {
	text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #293347;
	border-radius: 8px;
	border: solid 1px #dadada;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 2px solid #dadada;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
	border-radius: 3px;
}

label {
	color: #dadada;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
	border-radius: 8px;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #7c566e;
	border: 2px solid #c1deeb;
	outline: none;
	color: #fff;
	border-radius: 8px;
}

input::placeholder {
	color: #dadada;
}

input:focus {
	background: #d39abf;
	border-color: #dadada;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #7c566e;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	border-radius: 8px;
}

button:hover {
	background: #d39abf;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}

	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}

	.col {
		float: left;
	}

	.col+.col {
		margin-left: 2.5%;
	}

	.col-3 {
		width: 23%;
	}

	.col-6 {
		width: 49%;
	}
}